<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{url_for('static', filename='/styles.css') }}"/>
    <title>Title</title>
</head>
<body>
<form method="POST" action="/" class="main-form">
    <input class="main-page-inp" type="submit" name="submit_button" value="MainData2019">
    <input class="main-page-inp" type="submit" name="submit_button" value="Result">
    <input class="main-page-inp" type="submit" name="submit_button" value="PT">
    <input class="main-page-inp" type="submit" name="submit_button" value="EO">
    <input class="main-page-inp" type="submit" name="submit_button" value="Reg">
    <input class="main-page-inp" type="submit" name="submit_button" value="Info">
    <input class="main-page-inp" type="submit" name="submit_button" value="Filters">
    <input class="main-page-inp" type="submit" name="submit_button" value="PSQL">
    <input class="main-page-inp" type="submit" name="submit_button" value="MongoDB">
</form>
</body>
</html>